* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    margin-bottom: 40px;
}

form {
    width: 100%;
    max-width: 40rem;
}

form div {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-bottom: 20px;
}

form div label {
    color: rgb(5, 5, 228);
    font-size: 15spx;
}

form div input {
    height: 2rem;
    border-radius: 5px;
    border: 1px solid rgb(128, 128, 128);
    padding: 0 5px;
}

form div textarea {
    border-radius: 5px;
    border: 1px solid rgb(128, 128, 128);
    padding: 5px;
}

form div select {
    height: 2.5rem;
    border-radius: 5px;
    border: 1px solid rgb(128, 128, 128);
    padding: 0 5px;
}

form button {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: none;
    background-color: rgb(5, 5, 228);
    color: white;
    font-size: 15px;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s ease;
}